# Example .env file for local development.

# Docs:
# https://nextjs.org/docs/basic-features/environment-variables#loading-environment-variables
# https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser

# REMINDER:
# Update `/src/env.d.ts` whenever this file is changed.

# See `./docker-compose.yml`
DATABASE_URL=postgresql://postgres:password@localhost:6001/postgres

# For `npm run db:getDump && npm run db:restoreDump`
# https://lightsail.aws.amazon.com/ls/webapp/eu-central-1/databases/trassenscout-db-production/connect
DATABASE_URL_PRODUCTION=postgresql://USER:PSWD@URL:PORT/dbmaster
# For `npm run db:getDump:staging && npm run db:restoreDump`
# https://lightsail.aws.amazon.com/ls/webapp/eu-central-1/databases/trassenscout-db-staging/connect
DATABASE_URL_STAGING=postgresql://USER:PSWD@URL:PORT/dbmaster

S3_UPLOAD_ROOTFOLDER=upload-localdev

# Get from https://lightsail.aws.amazon.com/ls/webapp/eu-central-1/container-services/trassenscout-tinkering/deployments => ">" Arrow Details on "App" => Copy block of Key-Values
S3_UPLOAD_KEY=AAAAAAAAAAAAAAAAAAAA
S3_UPLOAD_SECRET=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

# Get from https://felt.com/ => Settings
FELT_TOKEN=felt_pat_AAAAAAAAAAAAAAAAAAAAAA

# Admin mail address, mails are sent to
ADMIN_EMAIL=hello@trassenscout.de

# Key for restricted api routes
TS_API_KEY=ok

# MAILJET_APIKEY_PUBLIC='' # Only on the server
# MAILJET_APIKEY_PRIVATE='' # Only on the server

NEXT_PUBLIC_APP_ENV=development # 'staging', 'production'
# NEXT_PUBLIC_APP_ORIGIN=http://127.0.0.1:5000 # 'https://staging,trassenscout.de', 'https://trassenscout.de'

# for development: test the survey starting with another state
NEXT_PUBLIC_PUBLIC_SURVEY_START_STAGE=START
