# Docs:
# https://nextjs.org/docs/basic-features/environment-variables#loading-environment-variables
# https://nextjs.org/docs/basic-features/environment-variables#exposing-environment-variables-to-the-browser

DATABASE_URL=postgresql://postgres:password@localhost:6001/postgres
