version: "3"
services:
  db:
    image: postgres:12-alpine
    environment:
      POSTGRES_PASSWORD: password
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    ports:
      - "6001:5432"
    volumes:
      - rsv-data:/var/lib/postgresql/data
    container_name: rsv-builder-db
    command: ['postgres', '-clog_destination=stderr', '-clog_statement=all']
volumes:
  rsv-data:
