services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: password
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    ports:
      - "6001:5432"
    volumes:
      - ts-data:/var/lib/postgresql/data
    container_name: ts-db
    command: ["postgres", "-clog_destination=stderr", "-clog_statement=all"]
  imap-listener:
    build:
      context: .
      dockerfile: docker/imap-listener/Dockerfile
    container_name: ts-imap-listener
    restart: unless-stopped
    env_file: "./imap-listener/.env"
    environment:
      TZ: Europe/Berlin
      NODE_ENV: development
    ports:
      - "3100:3100"
    depends_on:
      - db
