@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  Styles based on …
  - https://github.com/tailwindlabs/play.tailwindcss.com/blob/master/src/pages/_document.js
  - Tailwind UI Components
  Update: Styles for <html> and <body> move to _document.tsx
  */
  #__next {
    @apply flex h-full w-full flex-none flex-col;
  }

  /*
  This is wild…
  The next.js Head component does not provide a way to add classes to the <body> tag.
  One can only add static lasses via _document.tsx.
  There are complex solutions involving `pagePros` – thanks @ https://stackoverflow.com/a/66358460/729221
  However, we can use css instead – thanks @ https://stackoverflow.com/a/21253034/729221
  */
  body:has(#__next .set-bg-gray-100-on-body) {
    @apply bg-gray-100;
  }
}

@layer components {
}

@layer utilities {
}

:root {
  --survey-primary-color: #e5007d;
  --survey-dark-color: #1e293b;
  --survey-light-color: #ffcce8;
}

.stripe-background {
  background: repeating-linear-gradient(-45deg, #da1616, #da1616 2px, white 2px, white 4px);
}
.stripe-background-vertical-orange {
  background: repeating-linear-gradient(
    -90deg,
    #f58f9e,
    #f58f9e 3px,
    transparent 2px,
    transparent 6px
  );
}

.stripe-background-vertical-darkblue {
  background: repeating-linear-gradient(
    -90deg,
    #1353d1,
    #1353d1 3px,
    transparent 2px,
    transparent 6px
  );
}
.stripe-background-vertical-lightblue {
  background: repeating-linear-gradient(
    -90deg,
    #9ebaf4,
    #9ebaf4 3px,
    transparent 2px,
    transparent 6px
  );
}
.stripe-background-vertical-blue {
  background: repeating-linear-gradient(
    -90deg,
    #009ae9,
    #009ae9 3px,
    transparent 2px,
    transparent 6px
  );
}
.stripe-background-vertical-purple {
  background: repeating-linear-gradient(
    -90deg,
    #ab7de3,
    #ab7de3 3px,
    transparent 2px,
    transparent 6px
  );
}
