name: Deploy Staging
on:
  push:
    branches:
      - develop

jobs:
  setup_env:
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit
    with:
      ENVIRONMENT: staging

  deploy-app:
    needs: setup_env
    uses: ./.github/workflows/deploy-app.yml
    secrets: inherit
    with:
      ENVIRONMENT: staging

  deploy-imap-listener:
    needs: setup_env
    uses: ./.github/workflows/deploy-imap-listener.yml
    secrets: inherit
    with:
      ENVIRONMENT: staging

  services:
    needs: [deploy-app, deploy-imap-listener]
    uses: ./.github/workflows/services.yml
    secrets: inherit
    with:
      ENVIRONMENT: staging
