name: Services

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string

jobs:
  pull_restart:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.ENVIRONMENT }}
      # `url` adds adds link to the Github UI
      url: ${{ vars.APP_ORIGIN }}
    steps:
      - name: Pull, Restart, Cleanup
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            set -e
            cd /srv/trassenscout-${{ inputs.ENVIRONMENT }}
            echo "Pull all containers"
            docker compose pull
            echo "Restart all containers"
            docker compose up -d
            echo "Docker prune images"
            docker image prune -fa
