name: Setup Configuration
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string

jobs:
  setup_env:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.ENVIRONMENT }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Copy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          source: "docker-compose.server.yml, docker"
          target: "/srv/trassenscout-${{ inputs.ENVIRONMENT }}"
          overwrite: true

      - name: Replace environment variables
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd /srv/trassenscout-${{ inputs.ENVIRONMENT }}

            rm docker-compose.yml
            mv docker-compose.server.yml docker-compose.yml

            echo "Updating `.env`"
            rm -f .env
            cat <<EOF > .env
            NEXT_PUBLIC_APP_ENV='${{ inputs.ENVIRONMENT }}'
            NEXT_PUBLIC_APP_ORIGIN='${{ vars.APP_ORIGIN }}'
            APP_DOMAIN='${{ vars.APP_DOMAIN }}'

            MAILJET_APIKEY_PUBLIC='${{ secrets.MAILJET_APIKEY_PUBLIC }}'
            MAILJET_APIKEY_PRIVATE='${{ secrets.MAILJET_APIKEY_PRIVATE }}'

            POSTGRES_DB='${{ vars.POSTGRES_DB }}'
            POSTGRES_USER='${{ secrets.POSTGRES_USER }}'
            POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}'
            DATABASE_URL='postgres://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@${{ vars.POSTGRES_HOST }}/${{ vars.POSTGRES_DB }}'

            SESSION_SECRET_KEY='${{ secrets.SESSION_SECRET_KEY }}'

            ADMIN_EMAIL='${{ vars.ADMIN_EMAIL }}'

            S3_UPLOAD_KEY='${{ secrets.S3_UPLOAD_KEY }}'
            S3_UPLOAD_SECRET='${{ secrets.S3_UPLOAD_SECRET }}'
            S3_UPLOAD_ROOTFOLDER='upload-${{ inputs.ENVIRONMENT }}'

            TS_API_KEY='${{ secrets.TS_API_KEY }}'

            OPENAI_API_KEY='${{ secrets.OPENAI_API_KEY }}'

            LANGFUSE_SECRET_KEY='${{ secrets.LANGFUSE_SECRET_KEY }}'
            LANGFUSE_PUBLIC_KEY='${{ secrets.LANGFUSE_PUBLIC_KEY }}'
            LANGFUSE_BASEURL='${{ vars.LANGFUSE_BASEURL }}'

            # IMAP Listener Configuration
            IMAP_HOST='${{ vars.IMAP_HOST }}'
            IMAP_PORT='${{ vars.IMAP_PORT }}'
            IMAP_USER='${{ vars.IMAP_USER }}'
            IMAP_PASSWORD='${{ secrets.IMAP_PASSWORD }}'
            IMAP_SECURE='true'
            IMAP_INBOX_FOLDER='INBOX'
            IMAP_DONE_FOLDER='INBOX.DONE'
            IMAP_ERROR_FOLDER='INBOX.ERROR'
            TS_API_WEBHOOK_URL='http://app:3000/api/webhooks/process-mail'
            MAIL_PROCESSING_DELAY='10000'
            MAX_RETRIES='3'
            HEALTH_PORT='3100'
            EOF
